body{
  background: #faf;
  color: white;
}
#img-avatar{
  background: url('../images/timg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 320px;
  height: 308px;
  transform: rotate(45deg);
  display: flex;
  box-shadow: 1px 1px 0 rgba(0,0,0,.5)
}

#hahha{
  font-size: 15px;
  color: pink;
}