.input{
    border: 3px solid #ae7000;
}

.boss-text-enter{
    opacity: 0;
}
.boss-text-enter-active{
    opacity: 1;
    transition: opacity 2000ms;
}
.boss-text-enter-done{
    opacity: 1;
}
.boss-text-exit{
    opacity: 1;
}
.boss-text-exit-active{
    opacity: 0;
    transition: opacity 2000ms;
}
.boss-text-exit-done{
    opacity: 0;
}






/* .boss_show { */
    /* opacity: 1;
    transition: all 1s ease-in; */
    /* animation: show-item 2s ease-in forwards; */
/* } */

/* .boss_hidden { */
    /* opacity: 0;
    transition: all 1s ease-in; */
    /* animation: hidden-item 2s ease-in forwards; */
/* } */

@keyframes show-item {
    100% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: .7;
        color: yellow;
    }
    0% {
        opacity: .2;
        color: green;
    }
}

@keyframes hidden-item {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: .7;
        color: yellow;
    }
    100% {
        opacity: .2;
        color: green;
    }
}